/**
 * Navigation.
 */

.navbarPeq{
	background-color: rgba(0, 0, 0, 0.89)!important;

	.logo{
		img{
			height: 55px!important;
		}
	}
	.navbar-nav{
		top: 18px!important;
	}
}


.navbar-inverse{
	background-color: rgba(0, 0, 0, 0.4);
	border: none;
	transition: background-color .3s ease-in;


	.navbar-header{
		width: 100%;

		#block-languageswitcher{
			    position: absolute;
			    right: -50px;
			    width: 100px;
			    top: 46vh;
			    background: #111;
			    z-index: 1000;

			    ul{
				    list-style: none;
				    padding-left: 1.1em;
				    padding-top: 5px;

			    }
		}

		.logo{
			margin-left: 20px;
			img{
				height: 78px;
				transition: height .4s ease-in;
			}
		}

		
			
			  .navbar-toggle{
			  		border: none;
			    	transform: scale(0.7);
			    	background-color: transparent;

			    	&:focus{
			    		background-color: transparent;
			    	}

			    	&.clickMenuBur{

			    			&:hover{
								 	.icon-bar{
								        &:nth-of-type(2){transform: translateY(15px) rotate(40deg);}
								        &:nth-of-type(3){ opacity: 0;}
								        &:nth-of-type(4){transform: translateY(-15px) rotate(-40deg);}
								      }
						    }

			    		   .icon-bar{
					        &:nth-of-type(2){@include transform(translateY(15px) rotate(45deg));}
					        &:nth-of-type(3){ opacity: 0;}
					        &:nth-of-type(4){@include transform(translateY(-15px) rotate(-45deg));}
					       }

			    	}
			    
			    &:hover{
					 	.icon-bar{
					        &:nth-of-type(2){@include transform(translateY(4px));}
					        &:nth-of-type(3){ opacity: 0;}
					        &:nth-of-type(4){@include transform(translateY(-4px));}
					      }
			    }
			  }
			  .icon-bar{
			  	    height: 5px;
				    width: 70px;
				    display: block;
				    margin: 10px auto;
				    position: relative;
				    background-color: #fff;
				    -moz-border-radius: 10px;
				    -webkit-border-radius: 10px;
				    border-radius: 10px;
				    -moz-transition: 0.4s;
				    -o-transition: 0.4s;
				    -webkit-transition: 0.4s;
				    transition: 0.4s;

			    &:nth-of-type(2){ @include animation(rotateR 1.5s cubic-bezier(.5, .2, .2, 1) );}
			    &:nth-of-type(3){ @include animation(fade 1.5s cubic-bezier(.1, .8, .1, 1) );}
			    &:nth-of-type(4){@include animation(rotateL 1.5s cubic-bezier(.5, .2, .2, 1));}
			  }
		

		
	}


	#navbar-collapse{
		position: absolute;
	    right: 20px;
	    top: -5px;


	    #block-luzzo-main-menu {
			.navbar-nav{
					position: relative;
				  	float: right;
				  	top: 42px;
				  	transition: all .4s ease-in;
			}

		   .navbar-nav > li {
		     padding: 8px 14px;
		         @media screen and (max-width: $screen-md) {
		    		padding: 8px 8px;
		 		}
		   }

		   .navbar-nav > li > a {
		     color: white;
		     font-size: 1.7rem;
		     text-transform: uppercase;
			 letter-spacing: 2.83px;
			 padding: 0!important;
		   }

		    .navbar-nav > li > a:after {
			    content: "";
			    border-bottom: 14px solid;
			    border-image: url(../img/zig.svg);
			    border-image-slice: 15 1;
			    border-image-repeat: round;
			    width: 100%;
			    position: absolute;
			    left: 0;
			    top: 23px;
			    -webkit-clip-path: inset(0 100% 0 0);
			    clip-path: inset(0 100% 0 0);
			    transition: all .3s ease-in;
			}
			.navbar-nav > li > a:hover:after {
			    -webkit-clip-path: inset(0 0% 0 0);
			    clip-path: inset(0 0% 0 0);
			} 

		   .navbar-nav {
		     li > a:hover,
		     li > a:focus,
		     .open > a,
		     .open > a:hover,
		     .open > a:focus,
		     .active > a:hover,
		     .active > a:focus {
		       color: $brand-primary;
		       // background-color:$gray-over;
		     }

		     .active > a{
		       color: $brand-primary;
		       background-color: transparent;
		     }
		     .active > a:after {
			    -webkit-clip-path: inset(0 0% 0 0);
			    clip-path: inset(0 0% 0 0);
			} 

		     li > .dropdown-menu {
		       background-color: $gray-over;
		       padding: 0;
		       border: 0px solid black;
		       border-top: 1px solid $gray-darker;

		       li {
		         border-bottom: 1px solid $gray-darker;
		       }

		       li > a {
		         color: white;
		         font-size: larger;
		         padding: 8px 14px;
		         text-transform: uppercase;
		       }
		       li > a:hover{
		       	color: $brand-primary;
		       	
		       }
		     }
		   }
		}

		@media screen and (max-width: $screen-xs-max) {
				transition: transform 1.6s cubic-bezier(.075,.82,.165,1),opacity .5s cubic-bezier(.075,.82,.165,1),-webkit-transform 1.6s cubic-bezier(.075,.82,.165,1);
			    transform-origin: top center;
			    transform: perspective(1000px) rotateX(-90deg);
			    -webkit-transition-delay: .3s;
			    transition-delay: .3s;
			    overflow: hidden;
			    opacity: 0;

			    display: block!important;

			  	width: 100%;
				background-color: rgba(0, 0, 0, 0.89);
			    
			    top:107px;
			    height: 100vh!important;;
			    right: 0;
			    max-height: 100vh;
			    border: none;

			    				.navbar-nav{
						       	    text-align: center!important;
	    							float: none!important;

	    							li{
	   									padding: calc(100vh / 30) 8px!important;
	   									a{
	    									display: inline-block!important;
	   										font-size: 3rem!important;
	   										&:after{
	   											top:30px!important;
	   										}
	   										
	   									}
	    							}

						       }	    


		}

	    &.in{
	  			opacity: 1;
			    transform: perspective(1000px) rotateX(0deg);
	    }

	}

}







footer {
  nav[role="navigation"] {
    ul.nav {
      li {
      	display: inline;
      	list-style: none;
      	border-right: 1px solid white;

        a {
          display: inline-block;
          padding: 0px 20px;
          text-decoration: none;
          color: #fff;
          font-size: smaller;
        }

        a:hover {
          background-color: transparent;
          text-decoration: underline;
        }

      }

      li:last-child {
      	border-right: 0px solid white;
      }
    }
  }
}
