/**
 * reservas.
 */

 #block-modalintrodestaque {
   display: none;
 }
 #modal-intro-destaque-1 {

  .modal-dialog {
    max-width: 750px;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    @media screen and (max-width: 768px) { 
      padding-top: 40px;
    }
  }

  .col-sm-6:nth-child(2) {
    display: flex;
    flex-direction: column;
    min-height: 230px;
    justify-content: flex-end;
    align-items: flex-start;

    @media screen and (max-width: 768px) { 
      min-height: 115px;
    }
  }

  h1 {
    align-self: center;
    font-size: 26px;
    font-weight: 900;
   }
   p {
    line-height: 18px;
    color: #000;
   }

   a {
    border: none;
  background: #5d7a54;
  color: #fff;
  padding: 13px 20px 15px 15px;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -0.3px;
  border-bottom-right-radius: 18px;
  transition: background .2s ease-in;
    &:hover {
      background: #af7d5e;
    }
   }
 }

#block-views-block-reservas-luzzo-block-1 {
    .paragraph__column {
      padding-bottom: 0!important;
        .btn-modal {
          display: none;
        }
    }
    .modal-dialog{
        width: 90%;
        transform: translate(0, 40vh);
        overflow: visible;
        max-width: 1020px;



        @media screen and (max-width: 1020px) { max-width: 770px; }
        @media screen and (max-width: 695px) { 
          width: 90%; 
          transform: translate(0, 20vh);
        }
    }  

    .modal-content{
          background-color: #EFEBEB;
          min-height: 140px;
          padding: 0;
    }

    .modal-header{
              position: absolute;
              top: -80px;
              width: 100%;
              border: none;
              @media screen and (max-width: 418px) { padding: 15px 17px; }
              @media screen and (max-width: 390px) { padding: 15px 10px; right: 1px; }
              @media screen and (max-width: 350px) { padding: 15px 17px;  }



            .modal-title{
              font-size: 3.6rem;
              color: #fff;
              font-weight: 400;
              padding-right: 80px;
              @media screen and (max-width: 650px) { 
                position: relative;
                bottom: 23px;
                line-height: 35px;
              }
              @media screen and (max-width: 350px) { bottom: 55px;  }
            }

            .close{
              background: url(../img/close_bt.svg);
              display: block;
              position: relative;
              bottom: 10px;
              width: 63px;
              height: 55px;
              outline: none;
              opacity: 1;
              transition: all .3s ease-out;
              z-index: 10;
              &:hover{
                filter: brightness(2);
              }
              span{
                display: none;
              }
            }

    }

    .modal-body{
      padding: 0;
      padding-top: 30px;

                 @media screen and (max-width: 695px) { padding: 30px; }

            .select-wrapper {
              width: auto;
                 @media screen and (max-width: 695px) { width: 100%; }
            }

 
    }
    
    form {
              position: relative;
              top: 20px;
              height: 35px;
              text-align: center;
              @media screen and (max-width: 695px) { 
                top: 0; 
                height: auto;
              }
    }
              
              input[name="na_hora_"] {
                max-width: 122px;
              }

              input[name="e_somos_"] {
                max-width: 122px;
              }

              input[name="em_nome_de_"] {
                max-width: 180px;
                    @media screen and (max-width: 1040px) {
                      max-width: 150px;
                    }
                    @media screen and (max-width: 1020px) {
                      max-width: 210px;
                    }
              }

              input[name="telefone_"] {
                max-width: 125px;
              }

              input[name="no_dia_"] {
                max-width: 163px;
                @media screen and (max-width: 695px) { max-width: 100%; }

              }
              
              input[name="email_de_confirmacao"] {
                max-width: 200px;
                @media screen and (max-width: 1040px) {
                      max-width: 180px;
                }
                @media screen and (max-width: 1040px) {
                      max-width: 220px;
                }
                
              }

              input{
                @media screen and (max-width: 695px) { max-width: 100%!important; }
              }
              

              .form-group {
                display: inline;
                padding-left: 10px;

                @media screen and (max-width: 695px) {                   
                    display: block;
                    width: 100%;
                    padding-left: 0;
                }

              }

              .form-group:first-child {
                position: relative;
                bottom: 0;
                padding-left: 0px;
     
              }



              .webform-wizard-pages-links{
                display: none;
              }
            
              .form-control{
                border-radius: 0;
                border: 1px solid #F4D680;
                display: inline-block;
                max-width: 180px;
                line-height: 20px!important;
                @media screen and (max-width: 768px) {
                    max-width: 122px;
                }

                @media screen and (max-width: 695px) {
                    max-width: none;
                    width: 100%;
                }
              }

              .webform-button--next{
                display: block;
                left: 145px;
                right: 0;
                margin: auto;
                top: calc(100% + 50px);
                position: absolute;
                width: 35px;
                background: none;
                border: none;
                color: #fff;
                font-size: 5.0rem;
                outline: none;
              }

              .webform-button--previous{
                display: block;
                left: 0;
                right: 178px;
                margin: auto;
                top: calc(100% + 50px);
                position: absolute;
                width: 35px;
                background: none;
                border: none;
                color: #fff;
                font-size: 5.0rem;
                outline: none;
              }

              .webform-progress{
                position: absolute;
                font-size: 48px;
                color: #F4D680;
                left: 0;
                right: 0;
                margin: auto;
                top: calc(100% + 54px);

              }

              .webform-element--title-inline > label{
                font-weight: 400;
                font-size: 1.6rem;
                color: #4A4A4A;
                @media screen and (max-width: 1020px) {
                  position: absolute;
                  bottom: 25px;
                  transform: translateX(10px);
                  min-width: 120px;
                  text-align: left;
                }
                @media screen and (max-width: 695px) {
                    position: relative;
                    display: block;
                    bottom: 0;
                }
              
              }
              .form-item-no-dia- label{
                @media screen and (max-width: 1020px) { bottom: 30px; }
                @media screen and (max-width: 695px) { bottom: 0px; } 
              }
              .form-item-telefone- label{
                @media screen and (max-width: 1020px) {
                  bottom: 30px;
                }
                @media screen and (max-width: 695px) { bottom: 0; }

              }
         

              .form-required:after {
                  display: none;

              }
              .messages__wrapper{
                position: absolute;
                display: block;
                z-index: 100;
                left: 0;
                right: 0;
                margin: auto;
                max-width: 320px;
                top: calc(100% + 70px);

                .alert-danger {
                    background-color: #ffffff;
                    border-radius: 0;
                }
              }

                .js-form-item-observacoes{
                  float: left;
                  width: 50%;
                  @media screen and (max-width: 1020px) { bottom: 10px!important; }

                  @media screen and (max-width: 695px) { 
                    width: 100%;
                    float: none;
                  }

                    label{
                      position: relative;
                      bottom: 10px;
                      @media screen and (max-width: 695px) { bottom: 0; }

                    }

                    .form-textarea-wrapper{
                      display: inline;
                      max-width: 300px;
                      @media screen and (max-width: 695px) { max-width: 100%; }

                      textarea{
                        max-width: 280px;
                        @media screen and (max-width: 1020px) { max-width: 220px; }
                        @media screen and (max-width: 768px) { max-width: 180px; }

                        @media screen and (max-width: 695px) { max-width: 100%; height: 7rem; }

                      }
                    }
                }

                .checkbox{
                  position: relative;
                  display: block;
                  margin: 0;
                  float: left;
                  width: 44%;
                  text-align: left;

                  @media screen and (max-width: 695px) { 
                    width: 100%;
                    float: none;
                  }
                  label{
                      font-size: 1.3rem;
                    @media screen and (max-width: 1020px) {
                      top: -10px;
                    }
                    @media screen and (max-width: 695px) { bottom: 0; }

                  }
                }

                .submit-reservas {
                    position: absolute;
                    display: inline-block;
                    left: 270px;
                    right: 0;
                    margin: auto;
                    top: calc(100% + 70px);
                    width: 123px;
                    height: 38px;
                    text-transform: uppercase;
                    border: 1px solid #fff;

                    font-weight: 700;
                    font-size: 1.6rem;
                    color: #fff;
                    letter-spacing: 2.66px;
                    background-color: transparent;
                    border-radius: 0;
                    transition: color .4s ease-out;
                    transition-delay: .3s;

                    &:active:focus{
                      background-color: #F4D680;
                      border-color: unset;
                      outline: 5px auto #333;
                      outline-offset: 3px;
                    }

                    @media screen and (max-width: 468px) {
                      left: 0;
                      top: calc(100% + 130px);
                    }
                }

                .submit-reservas:before{
                  content: "";
                  position: absolute;
                  left: 0;
                    top: 0;
                    z-index: -1;
                  width: 0%;
                  height: 100%;
                  background: #F4D680;
                  transition: width .4s ease-in;
                }
                .submit-reservas:hover{
                  text-decoration: none;
                  color: #4A4A4A;
                }
                .submit-reservas:hover:before{
                  width: 100%;
                }

          
      div[data-webform-key="reservar"] {
                @media screen and (max-width: 1020px) {
                      position: relative;
                      top: 10px;
                }
                &.form-group {
                  padding-left: 0px;
                }
                &.form-group:first-child {
                  @media screen and (max-width: 1020px) {
                      bottom: 7px;
                  }
                }

                

                 .webform-progress  {
                    @media screen and (max-width: 468px) { 
                      margin: unset!important;
                      right: unset!important;
                      left: -97px!important;
                   
                    }
                  }

                   .webform-button--previous  {
                    @media screen and (max-width: 468px) { 
                     right: unset!important;
                     left: -15px!important;
                    }
                  }

                

                .submit-reservas{
                  @media screen and (max-width: 468px) { left: 115px;top: calc(100% + 135px);}
                }


              }

              div[data-webform-key="intro"] {
                   @media screen and (max-width: 1020px) {
                      position: relative;
                      top: 10px;
                }
                &.form-group {
                  padding-left: 0px;
                }
              }
              div[data-webform-key="page_2"] {
                  @media screen and (max-width: 1020px) {
                    position: relative;
                    top: 10px;
                }
              }       
      
    
}

.webform-confirmation{
  position: relative;
  bottom: 30px;
}

.modal-backdrop.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}


/**
 * encomendas.
 */


#block-encomendas {
  position: absolute;
  z-index: 997;
  right: 10px;
  top: 200px;
  cursor: pointer;
  transition: transform .2s ease-out;
  &:hover {
    transform: scale(1.09);
  }
  @media screen and (max-width: 550px) {
    top: 140px;
    
  }

 }

 .modal-body {
  overflow: visible !important;
}

 #modal-122 {

      .modal-dialog {
        max-width: 800px;
      }


      #edit-metodo-de-entrega--2 {
        @media screen and (max-width: 695px) {
          width: 100%;
          display: block !important;
        }
        label {
          @media screen and (max-width: 695px) {
            display: block !important;
          }
      
        }
      }

      .webform-options-display-buttons .webform-options-display-buttons-wrapper {
        @media screen and (max-width: 695px) {
          display: block;
          margin: 5px 0;
        }

      }


 }

 #webform-submission-encomendar-add-form--2, .form-encomendar-geral {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;


  .webform-element--title-inline > label{

    @media screen and (max-width: 1020px) {
      position: initial !important;
      transform: translateX(0px) !important;
      min-width: unset !important;
    }
    @media screen and (max-width: 695px) {
        position: relative !important;
        display: block !important;
        bottom: 0 !important;
        text-align: center !important;
        margin-bottom: 6px !important;
    }
  
  }


  .metodo-entrega{
    position: relative;
    bottom: 6px;
    left: 20px;
    display: flex!important;
    flex-flow: row wrap;
    align-items: center;

    @media screen and (max-width: 695px) {
      flex-flow: column wrap;
      align-items: center;
      bottom: 0;
      margin: 0;
      left: 0;
    }
  }

  label {
    display: inline !important;
    padding-right: 0.5em;
    font-weight: 400;
    font-size: 1.6rem;
    color: #4A4A4A;
  }


  .submit-encomendar {
    position: absolute;
    display: inline-block;
    left: 0px;
    right: 0;
    margin: auto;
    top: calc(100% + 70px);
    height: 38px;
    text-transform: uppercase;
    border: 1px solid #fff;

    font-weight: 700;
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: 2.66px;
    background-color: transparent;
    border-radius: 0;
    transition: color .4s ease-out;
    transition-delay: .3s;

    outline: none;

    &:active:focus{
      background-color: #F4D680;
      border-color: unset;
      outline: 5px auto #333;
      outline-offset: 3px;
    }

    @media screen and (max-width: 468px) {

      // top: calc(100% + 130px);
    }
  }

  .submit-encomendar:before{
    content: "";
    position: absolute;
    left: 0;
      top: 0;
      z-index: -1;
    width: 0%;
    height: 100%;
    background: #F4D680;
    transition: width .4s ease-in;
  }
  .submit-encomendar:hover{
    text-decoration: none;
    color: #4A4A4A;
  }
  .submit-encomendar:hover:before{
    width: 100%;
  }

}





 .webform-options-display-buttons input:checked + label.webform-options-display-buttons-label {
  color: #000;
  border-color: #F4D680;
  background-color: #F4D680;
}

#webform-computed-link_para_take_away-wrapper, #webform-computed-link_para_take_delivery-wrapper {
  display: none;
}







/*  Novas Reservas  */

#modal-62 .modal-dialog {
  transform: translate(0, 60px) !important;
}

#webform-computed-link_para_iframe-wrapper, #edit-actions--14 {
display:none!important;
}


#modal-62 .modal-header {
  display: flex;
  flex-direction: row-reverse;
}


#modal-62 .modal-body {
    min-height: 120px;
}
#modal-62 .modal-footer {
   display: flex!important;
background-color:#fff;
}

#modal-62 .control-label {
font-size:1.9rem!important;;
margin-right:10px
}

#modal-62 select {
font-size:1.7rem!important;;
}


@media (max-width:650px){
  #modal-62 .modal-header .close {
    left: 0px;
  }
  #modal-62 .modal-header .modal-title {
    padding-right: 10px!important;
  }
}

@media (max-width:600px){
  #modal-62 .modal-dialog {
    width: 100% !important;
  }
}

@media (max-width:500px){
  #modal-62 .modal-footer, #modal-62 .modal-footer {
    padding:0;
  }
}

@media (max-width:350px){
  #modal-62 .modal-header .modal-title {
    bottom: 55px;
  }
}