/**
 * testemunhos.
 */

#flexslider-testemunhos {

  // margin-top: 60px;
  border: 5px solid #fff;

  &:before{
     
    content: "";
    border-bottom: 30px solid;
    border-image: url(../img/zig-cinza.svg);
    border-image-slice: 15 1;
    border-image-repeat: round;
    width: 70%;
    position: absolute;
    left: 0;
    transition: all .3s ease-in;
    right: 0;
    margin: auto;
    top: -19px;
      
  }

      .flex-viewport{
        
      }

  .views-field-field-frase blockquote{
      text-align: center;
      margin: 0;
      margin-top: 40px;
      margin-bottom: -15px;
      font-weight: 400;
      font-style: italic;
      font-size: 3.6rem;
      color: #4A4A4A;
      letter-spacing: 4.03px;
  }

  .views-field-field-fonte p{
    text-align: center;
   font-weight: 300;
    font-size: 1.8rem;
    color: #4A4A4A;
    letter-spacing: 2.57px;
    line-height: 43px;
  }

    .flex-control-nav{


          li a{
          width: 20px;
          height: 20px;
          margin: 0;
            cursor: pointer;
            background-color: transparent;
            color: transparent;
            border: 1px solid #e8e8e8;
            border-radius: 10px;
            box-shadow: none;
          transition: width .4s;

          &.flex-active{
            width: 35px!important;
              background-color: #e8e8e8;


          }
        
        }    
    }

}