/**
 * visite-nos.
 */


 #block-views-block-visite-nos-block-1 {

 	margin-top: 0px;

 	.view-header{
		font-size: 1.8rem;
		color: #4A4A4A;
		line-height: 26px;
		text-align: center;
		margin-bottom: 60px;
 	}

 	> h2{
 		position: relative;
 		font-weight: 300;
 		font-size: 3.6rem;
 		color: #4A4A4A;
 		letter-spacing: 10.12px;
 		text-align: center;
 		text-transform: uppercase;
 		line-height: 1;
 		margin: 0 auto;
 		margin-bottom: 10px;
 		display: inline-block;
 		left: 50%;
 		transform: translateX(-50%);

 		@media screen and (max-width: $screen-xs-max) {
 			letter-spacing: 3.12px;

 		}

 		&:before,
 		&:after {
 			content: "";
 			border-top: 1px solid #9B9B9B;
 			width: 150px;
 			position: absolute;
 			top: 47%;
 		}
 		&:before {
 			right: 100%;
 			margin-right: 15px;
 		}
 		&:after {
 			left: 100%;
 			margin-left: 15px;
 		}
 	}
 	.location-title{
 		margin: 0;

 	}
 	.views-field-title h2{
 		    margin-top: 10px;
 		          a{
        position: relative;
        color: #4A4A4A;
      }
      a:hover{
          text-decoration: none
      }

      a:before{
        content: "";
        position: absolute;
        left: 0;
          top: 0;
          z-index: -1;
        width: 0%;
        height: 100%;
        background: #F4D680;
        transition: width .4s ease-in;
      }
    
      a:hover:before{
        width: 100%;
      }
 	}
 	.views-field-field-morada-{
 		font-size: 1.6rem;
 	}
 }