/**
 * page loja.
 */

 #flexslider-2{

 	margin: 0;
	border: none;
	overflow: hidden;

	.slides{

			height: 100vh;
			overflow: hidden;

		> * {
			height: 100%!important;
			position: relative;
			top: -40%;
		}

		.views-field-field-nome{
			    position: absolute;
			    width: 100%;
			    bottom: 0;
			    background-color: rgba(0, 0, 0, 0.8);
			    padding: 0px 0 15px 20px;
			    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
			    display: block;
			    height: 118px;
			    font-weight: 700;
			    font-size: 6.0rem;
			    color: #FFFFFF;
			    letter-spacing: 10px;
			    line-height: 120px;
			    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
			    text-transform: uppercase;

			    @media screen and (max-width: $screen-sm-max) {
			    	font-size: 5.5rem;
			    	letter-spacing: 5px;
			    	
		 		}
		 		@media screen and (max-width: 600px) {
			    	font-size: 4.7rem;
			    	letter-spacing: 3px;
			    	text-align: center;
		 		}
		 		@media screen and (max-width: 380px) {
			    	font-size: 3.7rem;
			    	letter-spacing: 2px;
		 		}

			    .field-content{
			    	display: inline;
			    	text-shadow: none;
			    }
			    div:last-child{
				    font-size: 1.8rem;
				    color: #9B9B9B;
				    letter-spacing: 3px;
				    display: inline;
				    position: relative;
    				left: -20px;
    				  @media screen and (max-width: $screen-sm-max) {
					    	left: -5px;
		 			}

		 			@media screen and (max-width: 600px) {
		 				display: block;
					    text-align: center;
					    top: -160px;
		 			}
		 			@media screen and (max-width: 380px) {
					    top: -150px;
			 		}

			    }
		}
	}

	.flex-control-nav{

		left: auto;
	    padding-left: 0;
	    list-style: none;
	    text-align: right;
	    float: right;
	    bottom: 0;
	    z-index: 2;
	    padding-bottom: 45px;
	    right: 180px;

	    		@media screen and (max-width: $screen-md-max) {
	    			 	left: 50%;
    					transform: translate(-50%, -50%);
    					float: none;
    					text-align: center;
    					bottom: 80px;
		 		}
		 		@media screen and (max-width: $screen-sm) {

		 		}
		 		@media screen and (max-width: $screen-xs) {
		    			
			 		
			 	}


		    	li a{
					width: 20px;
					height: 20px;
					margin: 0;
			    	cursor: pointer;
			    	background-color: transparent;
			    	color: transparent;
			    	border: 1px solid #fff;
			    	border-radius: 10px;
			    	box-shadow: none;
					transition: width .4s;

					&.flex-active{
						width: 35px!important;
			    		background-color: #fff;


					}
				
				}			
	}
	.flex-control-paging li a.flex-active{
		width: 35px!important;
	}

 }

.page-node-type-loja{
  	.full-back{

 		min-height: 370px;

 		&:before {
		    content: "";
		    width: 100%;
		    height: 100%;
		    background:url(../img/zigzag.png);
		    position: absolute;
		    z-index: -2;
		}
	}
}

#block-nextpreviousblock{

	min-height: 160px;
	padding: 50px 25px;

	.blogprevious{
		background: url(../img/left_bt.svg);
		width: 33px;
		height: 56px;
		position: absolute;
    margin: auto;
    left: 0;
    right: 290px;

	}
	.blognext{
		background: url(../img/right_btt.svg);
		width: 33px;
		height: 56px;
		position: absolute;
	    margin: auto;
	    left: 290px;
	    right: 0;

	}
	.close_bt{
		position: relative;
		margin: 0 auto;
		width: 63px;
		height: 55px;

	}
	.close_bt a{
		background: url(../img/close_bt.svg);
		display: block;
		width: 63px;
		height: 55px;
	}
	.blogprevious, .blognext, .close_bt a{
		opacity: .4;
		transition: opacity .4s ease-in;
	}

	.blogprevious:hover, .blognext:hover, .close_bt a:hover{
		opacity: 1!important;
	}
	
	

}

#page-loja-main{

	margin-bottom: 60px;

			@media screen and (max-width: $screen-md) {
					margin-bottom: 10px;
		 		}

	.field--name-field-cidade{
		font-size: 1.8rem;
		color: #9B9B9B;
		letter-spacing: 3px;
		text-align: center;
	}
	.field--name-field-nome{
		position: relative;
		font-weight: 900;
		font-size: 3.6rem;
		color: #4A4A4A;
		letter-spacing: 10.12px;
		text-align: center;
    	text-transform: uppercase;
    	line-height: 1;
    	margin: 0 auto;
    	margin-bottom: 45px;
	    display: inline-block;
	    left: 50%;
	    transform: translateX(-50%);

	       		@media screen and (max-width: $screen-xs-max) {
					letter-spacing: 3.12px;
	    			
		 		}

		&:before,
		&:after {
			content: "";
			border-top: 1px solid #9B9B9B;
			width: 150px;
			position: absolute;
			top: 47%;
			}
			&:before {
			  right: 100%;
			  margin-right: 15px;
			}
			&:after {
			  left: 100%;
			  margin-left: 15px;
			}
	}
	.field--name-field-imagem-destaque{
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	}
	.field--name-field-imagem-destaque img{
		width: 100%;
	    height: 100%;
	    object-fit: cover;
	}
	.field--name-field-de{
		font-size: 1.8rem;
		color: #4A4A4A;
		letter-spacing: 1.8px;
		line-height: 27px;
		margin-top: 35px;
		text-align: center;
	}

	.field--name-field-reservar a{
		display: inline-block;
		position: relative;
	    font-weight: 900;
	    font-size: 1.6rem;
	    color: #4A4A4A;
	    letter-spacing: 2.66px;
	    text-transform: uppercase;
	    padding: 8px 20px;
	    border: 1px solid #4A4A4A;
	    text-align: center;
	    position: relative;
	    left: 50%;
	    transform: translateX(-50%);
	    margin: 25px 0;
	}
	.field--name-field-reservar a:before{
		content: "";
		position: absolute;
		left: 0;
	    top: 0;
	    z-index: -1;
		width: 0%;
		height: 100%;
		background: #F4D680;
		transition: width .4s ease-in;
	}
	.field--name-field-reservar a:hover{
		text-decoration: none;
	}
	.field--name-field-reservar a:hover:before{
		width: 100%;
	}

	.contacts-info{
		text-align: left;
		@media screen and (max-width: $screen-sm) {
		    	text-align: center;
		 }
	}


	.field--name-field-horario-de-funcionamento{
		.field--item{
			font-weight: 300;
			font-size: 2.0rem;
			color: #4A4A4A;
			letter-spacing: 0.58px;
			line-height: 32px;
		}
	}

		.field--name-field-horario-de-funcionamento .field--label, .field--name-field-ta, .field--name-field-reservas-e-encomendas{
			font-weight: 700;
			font-size: 2.4rem;
			color: #212121;
			letter-spacing: 3.33px;
			text-transform: uppercase;
			padding: 15px 0;
		    border-bottom: 1px solid #9B9B9B;
		    margin-bottom: 10px;
		}
		
		.field--name-field-tele, .field--name-field-e, .field--name-field-morada-{
			.field--label{
				font-weight: 700;
				font-size: 1.8rem;
				color: #212121;
				letter-spacing: 0.58px;
			}
			.field--item{
				font-weight: 300;
				font-size: 2.0rem;
				color: #4A4A4A;
				letter-spacing: 0.58px;
				line-height: 32px;
			}
			a{
				position: relative;
				color: #4A4A4A;
			}
			a:hover{
    			text-decoration: none
			}

			a:before{
				content: "";
				position: absolute;
				left: 0;
			    top: 0;
			    z-index: -1;
				width: 0%;
				height: 100%;
				background: #F4D680;
				transition: width .4s ease-in;
			}
		
			a:hover:before{
				width: 100%;
			}



		}
		.lastr{
			margin-top: 15px;

			a{
				width: 41px;
				height: 41px;
				display: block;
    			margin-top: 20px;
    			float: left;
    			color: #4A4A4A;
			}
			a:hover{
	
    			background-color: #F4D680;
			}

			.field--name-field-social{
				float: right;

				@media screen and (max-width: $screen-md) {
		    		    position: relative;
					    left: 117px;
					    bottom: 70px;
		 		}
		 		@media screen and (max-width: $screen-sm) {
		    			left: 50%;
					    float: left;
					    transform: translateX(-50%);
					    bottom: 0;
					    margin-bottom: 30px;
		 		}
		 		@media screen and (max-width: $screen-xs) {
		    			
			 		
			 	}

				.ficon{
					position: relative;
					background: url(../img/face_icon.svg);
				}
				.iicon{
					position: relative;
					background: url(../img/inst_icon.svg);
					margin-left: 5px;
				}


				.ficon:before, .iicon:before{
					content: "";
					position: absolute;
					left: 0;
				    top: 0;
				    z-index: -1;
					width: 100%;
					height: 100%;
					background: #F4D680;
					transition: opacity .4s ease-in;
					border-radius: 50%;
					opacity: 0;
				}
				.ficon:hover:before, .iicon:hover:before{
					opacity: 1;
					
				}
			}
		}

		.field--name-field-gps-coordenadas{
			.location-content{
				font-size: 1.9rem;
			}
			.geolocation-google-map{
				margin-top: 15px;
				@media screen and (max-width: $screen-md) {
					height: 450px!important;
		 		}
			}
		}


	.templ{
		.field--label{

		}
		.field--item{
			
		}
	}
}

#block-views-block-slider-3-lojas-block-1{
	h2{
		position: relative;
	    font-weight: 300;
	    font-size: 3.6rem;
	    color: #212121;
	    letter-spacing: 10.12px;
	    text-align: center;
	    margin-top: 80px;
	    margin-bottom: 40px;
	    display: inline-block;
	    left: 50%;
	    transform: translateX(-50%);
	    text-transform: uppercase;

	           	@media screen and (max-width: $screen-xs-max) {
					letter-spacing: 3.12px;
	    			
		 		}


		&:before,
		&:after {
			content: "";
			border-top: 1px solid #9B9B9B;
			width: 150px;
			position: absolute;
			top: 47%;
			}
			&:before {
			  right: 100%;
			  margin-right: 15px;
			}
			&:after {
			  left: 100%;
			  margin-left: 15px;
			}
	}

	.view-slider-3-lojas{

		.view-footer{

			position: relative;
    		top: -40px;
    		margin-bottom: 120px;

    		.anome{
    			border: 1px solid #4A4A4A;
    			padding: 9px 20px;
    		}

			 a{
				display: inline-block;
				position: relative;
			    font-weight: 900;
			    font-size: 1.6rem;
			    color: #4A4A4A;
			    letter-spacing: 2.66px;
			    text-transform: uppercase;
			    padding: 8px 0px;
			    text-align: center;
			    left: 50%;
			    transform: translateX(-50%);
			    margin: 25px 0;
			}
			a:before{
				content: "";
				position: absolute;
				left: 0;
			    top: 0;
			    z-index: -1;
				width: 0%;
				height: 100%;
				background: #F4D680;
				transition: width .4s ease-in;
			}
			a:hover{
				text-decoration: none;
			}
			a:hover:before{
				width: 100%;
			}
		}
	}

	#flexslider-3-lojas{
		.slides{
			.views-field-field-nome{

				margin-top: 20px;
				font-weight: 700;
				font-size: 2.0rem;
				color: #4A4A4A;
				letter-spacing: 3.33px;
				text-transform: uppercase;
				text-align: center;

				@media screen and (max-width: $screen-sm-max) {
					letter-spacing: 1.33px;
					margin-top: 15px;

		 		}
			}
			.views-field-field-cidade{
				font-size: 1.4rem;
				color: #9B9B9B;
				letter-spacing: 2.33px;
				text-align: center;
			}

		}

		.flex-direction-nav{

			display: block;

			.flex-next{
					background: url(../img/right_btt.svg);
					width: 33px;
					height: 56px;
					float: right;
					right: -80px!important;
			
					display: block!important;
					transform: translateY(-80%);
					opacity: .4;
					transition: opacity .3s ease-in;

				@media screen and (max-width: $screen-sm) {
				
					transform: translateY(-90%);
		 		}
			}
			.flex-next:hover{
				opacity: 1
			}
			.flex-next:before , .flex-prev:before{
				content: '';
			    text-shadow: none;
					

			}
	
			.flex-prev{
						background: url(../img/left_bt.svg);
						width: 33px;
						height: 56px;
						float: left;
						left: -80px!important;;
					
					display: block!important;
					transform: translateY(-80%);
					opacity: .4;
					transition: opacity .3s ease-in;
				@media screen and (max-width: $screen-sm) {
			
					transform: translateY(-90%);

		 		}

			}
	

			.flex-next:hover, .flex-prev:hover{
				opacity: 1
			}


		}

	}


}