/**
 * page luzzo.
 */


#page-luzzo{

	.full-back{
		background: url(../img/padrao_azuleijo.jpg);
	}
	.field--name-field-ilustra-logo{
		-webkit-mix-blend-mode: lighten;
		mix-blend-mode: lighten;
	    margin-top: 140px;
	    margin-bottom: 150px;
	}

	h2{
		font-weight: 700;
		font-size: 2.4rem;
		color: $brand-primary;
		letter-spacing: 3.33px;
	}
	hr{
		border: 1px solid $brand-primary;
	}

	#p--2-col-texto-imagem{
	
		.field--name-field-corpo-texto-luzzo{
			font-weight: 400;
			font-size: 2rem;
			color: #FFFFFF;
			letter-spacing: 0.58px;
			line-height: 27px;
		}

		img{
			position: relative;
			bottom: 50px;
		    left: 50px;
		    transform: scale(1.2);
		}

		blockquote{
			position: relative;
    		bottom: 50px;
			font-style: italic;
		    font-size: 3.6rem;
		    color: $brand-primary;
		    letter-spacing: 6.42px;
		    line-height: 49px;
		    text-transform: uppercase;
		    border: none;
		    text-align: center;
		}

	}

	#p--2-col-imagem-texto{
		position: relative;
    	bottom: 100px;

    	h2{
    		margin-top: 180px;
    	}

		.field--name-field-texto-luzzo-2, .field--name-field-texto-luzzo-2-1{
			font-weight: 400;
			font-size: 2rem;
			color: #FFFFFF;
			letter-spacing: 0.58px;
			line-height: 27px;
		}

		blockquote{
			position: absolute;
		    max-width: 320px;
		    border: none;
		    margin: auto;
		    left: 0;
		    right: 0;
		    background-color: $brand-primary;
		    font-style: italic;
		    font-size: 2rem;
		    color: #212121;
		    letter-spacing: 0.58px;
		    bottom: -50px;
		    padding: 25px;
		    text-align: center;

		}

	}

}
