/**
 * page luzzo.
 */






#page-luzzo{

	.full-back:before {
	    content: "";
	    width: 100%;
	    height: 80%;
	    background:url(../img/padrao_azuleijo.jpg);
	    position: absolute;
	    @media screen and (max-width: $screen-lg) {
    		height: 75%;
 		}
 		@media screen and (max-width: $screen-sm) {
    		height: 85%;
 		}

	}


	.field--name-field-ilustra-logo{
		max-width: 70%;
	    position: relative;
	    margin: 0 auto;
		-webkit-mix-blend-mode: lighten;
		mix-blend-mode: lighten;
	    margin-top: 140px;
	    margin-bottom: 140px;

	    img{
			top: -150px;
		    position: relative;
		    	@media screen and (max-width: 1080px) {
					top: -100px;
		 		}
		 		 @media screen and (max-width: 892px) {
					top: 0px;
					transform: scale(1.5)!important;
		 		}

	    }

	   	@media screen and (max-width: $screen-sm) {
	    	margin-bottom: 80px;
 		}
	}

	h2{
		font-weight: 700;
		font-size: 2.4rem;
		color: $brand-primary;
		letter-spacing: 3.33px;
		@media screen and (max-width: $screen-sm) {
	    	text-align: center;
 		}
	}
	hr{
		border: 1px solid $brand-primary;
	}



	#p--2-col-texto-imagem{
	
		.field--name-field-corpo-texto-luzzo{
			font-weight: 400;
			font-size: 2rem;
			color: #FFFFFF;
			letter-spacing: 0.58px;
			line-height: $global-text-line-height-lg;
			@media screen and (max-width: $screen-md) {
				line-height: $global-text-line-height-sm;
    		    
 			}
 			@media screen and (max-width: $screen-sm) {
	    		text-align: center;
 			}
		}

		img{
			position: relative;
			bottom: 50px;
		    left: 50px;
		    transform: scale(1.2);
		    @media screen and (max-width: $screen-md) {
		    	transform: scale(1.5);
    		    
 			}
 			@media screen and (max-width: $screen-lg) {
		    	transform: scale(1.2);
    		    
 			}
 			@media screen and (max-width: $screen-sm) {
		   		 bottom: 0;
		   		transform: scale(1.0);
	 		}

		}

		blockquote{
			position: relative;
    		bottom: 50px;
			font-style: italic;
		    font-size: 3.6rem;
		    color: $brand-primary;
		    letter-spacing: 6.42px;
		    line-height: 49px;
		    text-transform: uppercase;
		    border: none;
		    text-align: center;
		    @media screen and (max-width: $screen-md) {
				line-height: 40px;
				padding: 30px 0;
    		    
 			}
		}

	}

	#p--2-col-imagem-texto{
		position: relative;
    	bottom: 100px;

    	h2{
    		margin-top: 180px;
    		@media screen and (max-width: $screen-lg) {
    		    margin-top: 40px;
 			}
 			@media screen and (max-width: $screen-md) {
    		    margin-top: 35px;
 			}
 			@media screen and (max-width: $screen-sm) {
    		    margin-top: 85px;
    		    text-align: center;
 			}
    	}

    	@media screen and (max-width: $screen-lg) {
    		 bottom: 55px;
 		}
 		@media screen and (max-width: $screen-md) {
    		 bottom: 0;
    		margin-top: 40px;
 		}
 		@media screen and (max-width: $screen-md) {
    		 bottom: 0;
    		margin-top: 0px;
 		}
 		@media screen and (max-width: $screen-xs-max) {
    		margin-top: -30px;
 		}
 		img{

 			@media screen and (max-width: $screen-xs-max) {
	    		max-width: 60%;
    			margin: 0 auto;
	 		}
 			    
 		}

		.field--name-field-texto-luzzo-2, .field--name-field-texto-luzzo-2-1{
			font-weight: 400;
			font-size: 2rem;
			color: #FFFFFF;
			letter-spacing: 0.58px;
			line-height: $global-text-line-height-lg;
			@media screen and (max-width: $screen-md) {
				line-height: $global-text-line-height-sm;
    		    
 			}
 			@media screen and (max-width: $screen-sm) {
		    	text-align: center;
	 		}
		}

		blockquote{
			position: absolute;
		    max-width: 320px;
		    border: none;
		    margin: auto;
		    left: 0;
		    right: 0;
		    background-color: $brand-primary;
		    font-style: italic;
		    font-size: 2rem;
		    color: #212121;
		    letter-spacing: 0.58px;
		    bottom: -50px;
		    padding: 25px;
		    text-align: center;
			box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);

		    @media screen and (max-width: $screen-md) {
				padding: 21px;
 			    max-width: 220px;
    		    
 			}
		}
	}

	.slider--luzzo{

		margin-bottom: 40px;
		margin-top: 40px;

		.carousel-inner{
			box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
		}


		@media screen and (max-width: $screen-md) {
    		margin-top: 60px;    
 		}

		.carousel-indicators {
			left: auto;
		    z-index: 15;
		    padding-left: 0;
		    list-style: none;
		    text-align: center;
		
		    top: 35px;
		     text-align: right;
		    float: right;
		    right: 2% !important;
		    left: inherit;

		    	li{
					width: 20px;
					height: 20px;
					margin: 0 5px;

					transition: width .4s;
				
				}
					.active{
						width: 35px!important;
					}
		}

	
	}

	#p--1-col-center-texto{

		   position: relative;
		   margin-bottom: 120px;

		   	@media screen and (max-width: $screen-md-min) {
	  			margin-bottom: 100px;
	  			top: 85px;
	 		}

		   .field--name-field-texto-luzzo-3{
				font-size: 2rem;
				color: #212121;
				letter-spacing: 0.58px;
				line-height: $global-text-line-height-lg;
				@media screen and (max-width: $screen-md) {
					line-height: $global-text-line-height-sm;
	    		    
	 			}
	 			@media screen and (max-width: $screen-sm) {
			    	text-align: center;
		 		}

		   }
		   .saber-mais{

		   			margin-top: 20px;

			    	@media screen and (max-width: $screen-sm) {
			    		margin: 0 auto;
					    top: 30px;
					    position: relative;
					    left: 50%;
    					transform: translateX(-50%);
		 		}
		   }
	}
}

.page-node-type-luzzo{
		#flexslider-testemunhos{
			@media screen and (max-width: $screen-md-min) {
					margin-top: 100px;

	 		}
	}
}
