// Global css 
// ----------------------------------------------------------------------------

html{
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;

    @media screen and (max-width: $screen-lg-min) {
     font-size: 61.5%;

    }
    @media screen and (max-width: $screen-md-max) {
      font-size: 60.5%;
    }
    @media screen and (max-width: $screen-sm-max) {
      font-size: 58.5%;
    }
    @media screen and (max-width: $screen-xs-max) {
      font-size: 55.5%;
    }
}

body {
  @include font-smoothing();
  padding-top: 0!important;
  margin-top: 0!important;
  overflow-x: hidden;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {

      @media screen and (max-width: $screen-sm) {
          padding: 0px 40px;
    }
    @media screen and (max-width: 500px) {
          padding: 0px 30px;
    }
}

// Global vars 
// ----------------------------------------------------------------------------


$global-text-line-height-lg: 27px !default;
$global-text-line-height-md: 26px !default;
$global-text-line-height-sm: 25px !default;
