// Global css 
// ----------------------------------------------------------------------------

body {
  @include font-smoothing();
  padding-top: 0!important;
  margin-top: 0!important;
  overflow-x: hidden;
}

a {
  @include transition(all .2s ease-in-out);
	
  &:hover {
    opacity: 1;
  }
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
